:root {
    --primary-color: #005b96;
    --secondary-color: #ffffff;
    --accent-color: #f0a30a;
    --background-color: #e1e9ee;
    --error-color: #d32f2f;
    --hover-color: #ffbb22;
    --input-text-color: #333333;
    --input-background-color: #ffffff;
    --font-main: 'Open Sans', sans-serif;
    --border-radius: 25px;
}

.background {
    background-color: var(--background-color);
    color: var(--primary-color);
}

.header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.header_home {
    font-size: 2em;
    font-weight: bold;
    color: var(--secondary-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    display: inline-block;
}

.header_nav_link {
    margin: 0 1em;
    font-size: 1em;
}

.button, button {
    background: var(--accent-color);
    color: var(--secondary-color);
    padding: 0.75em 1.5em;
    border-radius: var(--border-radius);
    font-weight: bold;
    border: none;
    transition: background-color 0.3s;
}

.button:hover, button:hover {
    background-color: var(--hover-color);
}

.card {
    background-color: var(--secondary-color);
    margin: 1em;
    padding: 1.5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
}

.card-content .form-field {
    margin-bottom: 1.5em;
}

.welcome-section {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 2em 1em;
    margin: 0 auto;
    max-width: 60em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    border: 1px solid #ced4da;
    padding: 0.75em;
    border-radius: var(--border-radius);
    margin-bottom: 1.5em;
    color: var(--input-text-color);
    background-color: var(--input-background-color);
}

.main-container {
    max-width: 75em;
    margin: 0 auto;
    padding: 0 1em;
}

@media (min-width: 768px) {
    .background {
        padding: 2% 0;
    }

    .header {
        justify-content: center;
    }

    .header_home {
        font-size: 2.5em;
    }

    .card {
        margin: 2% auto;
        padding: 2em;
        max-width: 60em;
    }

    .welcome-section {
        margin-top: 2em;
    }

    .card-content .form-field {
        margin-bottom: 2em;
    }
}
