:root {
    --primary-color: #2a3d66;
    --secondary-color: #ffffff;
    --accent-color: #f2c14e;
    --background-color: #e1e9ee;
    --error-color: #d32f2f;
    --hover-color: #f2d096;
    --input-text-color: #333333;
    --input-background-color: #ffffff;
    --font-main: 'Quicksand', sans-serif;
    --border-radius: 25px;
}

.background {
    background-color: var(--background-color);
    color: var(--primary-color);
    font-family: var(--font-main);
}

.header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px 20px;
}

.header_home {
    font-size: 2em;
    font-weight: bold;
    color: var(--secondary-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    display: inline-block;
}

.header_nav_link {
    margin: 0 1em;
    font-size: 1em;
}

.button, button {
    background: var(--accent-color);
    color: var(--secondary-color);
    padding: 0.75em 1.5em;
    border-radius: var(--border-radius);
    font-weight: bold;
    border: none;
    transition: background-color 0.3s;
}

.button:hover, button:hover {
    background-color: var(--hover-color);
}

.card {
    background-color: var(--secondary-color);
    margin: 1em auto; /* Center the card */
    padding: 1.5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    max-width: 60em; /* may need to alter this */
}

.card-content .form-field {
    margin-bottom: 1.5em;
}

.welcome-section {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 2em 1em;
    margin: 0 auto;
    max-width: 60em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    border: 1px solid #ced4da;
    padding: 0.75em;
    border-radius: var(--border-radius);
    margin-bottom: 1.5em;
    color: var(--input-text-color);
    background-color: var(--input-background-color);
}

.main-container {
    max-width: 75em;
    margin: 0 auto;
    padding: 0 1em;
}

@media (min-width: 768px) {
    .background {
        padding: 2% 0;
    }

    .header {
        justify-content: center;
    }

    .header_home {
        font-size: 2.5em;
    }

    .card {
        margin: 2% auto;
        padding: 2em;
        max-width: 60em;
    }

    .welcome-section {
        margin-top: 2em;
    }

    .card-content .form-field {
        margin-bottom: 2em;
    }
}

.completed {
    text-decoration: line-through;
    color: grey;
}

.bubble-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    text-align: center;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 1.2em;
}

.bubble-button:hover {
    background-color: var(--hover-color);
    transform: scale(1.05);
}

#tasks-display {
    max-width: 60em;
    margin: 0 auto;
    padding: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
}

#incomplete-tasks-section,
#completed-tasks-section {
    margin-bottom: 2em;
}

.task-item {
    padding: 0.5em 0;
    border-bottom: 1px solid var(--primary-color);
}

.task-item:last-child {
    border-bottom: none;
}

.task-item .task-title {
    font-weight: bold;
}

.task-item .task-body {
    color: var(--primary-color);
}

.task-item .task-actions {
    display: inline-block;
    margin-left: 1em;
}

.task-item .task-actions button {
    margin-right: 0.5em;
}

